.header, .main, .nav, .sidebar, .ad, .footer{
    border: 1px solid green;
    background-color: greenyellow;
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.nav{
    grid-area: nav;
}
.sidebar{
    grid-area: sidebar;
}
.ad{
    grid-area: ad;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    height: 100vh;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "nav main main sidebar"
    "nav main main ad"
    "footer footer footer footer";
}


@media screen and (max-width: 576px) {
    .container{
        grid-template-areas: 
        "header header"
        "nav sidebar"
        "main main"
        "ad ad"
        "footer footer";
    }
}
